.dropzone_section {
  width: 1250px;
  height: 240px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  color: #2baeb7;
  position: absolute;
  top: 150px;
  right: 225px;
}
